/* manrope-300 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/manrope-v14-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* manrope-regular - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/manrope-v14-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* manrope-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/manrope-v14-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* manrope-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/manrope-v14-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* manrope-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/manrope-v14-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* manrope-800 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/manrope-v14-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* Global Styles Start */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{
  height: 100%;
  font-size: 62.2%;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Manrope' , sans-serif;
    font-size: 1.6rem;
    line-height: 1.625;
    font-weight: 400;
    background: #F7F6FF;
    color: #333333;
    height: 100%;
}
main{
  flex-grow: 1;
}
.container{
  width: 100%;
  max-width: 1291px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}
ul{
  list-style: none;
}
a{
  display: inline-block;
  text-decoration: none;
}
.btn{
  border-radius: 1rem;
  background: linear-gradient(122deg, #F32C4C 29.57%, #CB1D95 85.47%);
  padding: 1.4rem 3.3rem 1.4rem 4.2rem;
  color: #fff;
  font-weight: 600; 
}
.header {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  /* border: 2px solid red; */
  background: #FFF;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid black; */
}
.sitenavbar_list {
  display: flex;
  gap: 3.3rem;
}
.sitenavbar_link {
  color: #333333;
}
/*  Header End */

/* Footer Start */

.footer {
  background: #FFF;
}
.footer_top {
  padding-top: 5.2rem;
  padding-bottom: 6.3rem;
}
.footer_top_container {
  display: flex;
  justify-content: space-between;
}
.footer_top_content .btn{
  align-self: flex-start;
}
.footer_top_content:nth-child(1){
  display: flex;
  flex-direction: column;
}
.site_logo_footer {
  margin-bottom: 5px;
}
.footer_content_link {
  margin-bottom: 2.2rem;
  text-decoration: underline;
}
.footer_top_content_item:not(:last-child) {
  margin-bottom: 1.7rem
  }
.footer_top_content_title {
  font-size: 1.6rem;
  line-height: 2.20rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
  color: #333333;
}
.footer_top_content_list {
  display: flex;
  flex-direction: column;
}
.footer_top_content_link {
  color: #333333;
}
.footer_bottom {
  background: #2D2D2D;

}
.footer_bottom_text{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.20;
  color: #fff;
  text-align: center;
}